<div class='col-lg-4 col-md-4 user-block'>
  <div class='row'>
    <div class='col-lg-3 col-md-3'>
      <% if user.attendance.attend %>
        <%= image_tag icon_for(user), size: '80' %>
      <% else %>
        <%= image_tag gray_icon_for(user), size: '80' %>
      <% end %>
    </div>
    <div class='col-lg-9 col-md-9 user-info'>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
	  data: { confirm: "You sure?" } %>
      <% end %><br>
      <p>
        <%= user.comment %>
      </p>
    </div>
  </div>
</div>
