<% provide(:form_id, 'edit_user_') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 crop-form">
    <div class="img-crop">
      <%= image_tag <!--TODO: -->emp_icon_for(@user), id: "img", class: "img-responsive" %>
      <%= form_for(@user, html: { multipart: true }) do |f| %>
        <%= f.hidden_field :user_icon, value: temp_icon_for(@user) %>
        <%= f.hidden_field :image_x %>
        <%= f.hidden_field :image_y %>
        <%= f.hidden_field :image_w %>
        <%= f.hidden_field :image_h %>
      <% end %>
      <%= button_tag  "Update icon image", id: "submit_crop", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<script type="text/javascript">
 $('#user_user_icon').bind('change', function() {
   var size_in_megabytes = this.files[0].size/1024/1024;
   if (size_in_megabytes > 5) {
     alert('Maximum file size is 5MB. Please choose a smaller file.');
   }
 });
</script>

<script type="text/javascript">
 var $image = $('.img-crop > img'),replaced;
 $('#img').cropper({
   aspectRatio: 4 / 4
 });
</script>

<script type="text/javascript">
 $('#submit_crop').on('click', function(){
   var data = $('#img').cropper('getData');
   document.getElementById("user_image_x").value = Math.round(data.x);
   document.getElementById("user_image_y").value = Math.round(data.y);
   document.getElementById("user_image_w").value = Math.round(data.width);
   document.getElementById("user_image_h").value = Math.round(data.height);
   $("#<%= yield(:form_id) %><%= @user.id %>").submit();
 });
</script>
