<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <div class='col-lg-4 col-md-4'>
        <%= image_tag icon_for(@user), size: '80' %>
      </div>
      <div class='col-lg-8 col-md-8'>
        <%= @user.comment %>
      </div>
    </section>
  </aside>
  <% if current_user?(@user) %>
    <div class="col-md-8 my-settings">
      <%= render "comment_form" %>
      <br>
      <b>Checkin/Checkout token</b>
      <p><code><%= @user.check_token || '=== no token ===' %></code>
      </p>
      <%= render "token_update_form" %>
    </div>
  <% end %>
</div>
